.obj
*.dll
*.exe
*.pdb
*.user
*.generated.cs
/back-end/bin/
/obj/
/wwwroot/
*.nupkg
**/packages/
**/bak/
**/Backup*/
*.log
*.cache
*.log
*.vspscc
*.vssscc
*.userprefs
*.docstates
/back-end/.env
/back-end/app.db
/front-end/node_modules/
.env