.obj
*.dll
*.exe
*.pdb
*.user
*.generated.cs
/back-end/bin/
/obj/
/wwwroot/
*.nupkg
**/packages/
**/bak/
**/Backup*/
*.log
*.cache
*.log
*.vspscc
*.vssscc
*.userprefs
*.docstates
/back-end/.env
/back-end/app.db
/front-end/cliente/node_modules/
/front-end/cliente/.env
/back-end/Migrations/
/back-end/app.db
/back-end/logs/
